<div class="recommended_items"><!--recommended_items-->
	<h2 class="title text-center"><%= title %></h2>
	<% products.each do |product| %>
		<div class="col-sm-3">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<%= image_tag product.picture.url(:original), class: "img-responsive" %>
						<h4><%= product.name %></h4>
						<p class="justified-text"><%= product.description.truncate(40) %></p>
						<a href="#" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#product<%= product.id %>"><i class="fa fa-eye"></i>Ver más</a>

						<!-- Modal -->
						<div class="modal fade" id="product<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h2 class="modal-title" id="myModalLabel"><%= product.name %></h2>
						      </div>
						      <div class="modal-body">
						        <div class="row">
						        	<div class="col-lg-12">
						        		<center>
						        			<%= image_tag product.picture.url(:original), class: "img-responsive" %>
						        		</center>
						        	</div>
						        </div>
						        <div class="row">
						        	<div class="col-lg-12">
						        		<p class="justified-text">
						        			<%= product.description %>
						        		</p>
						        	</div>
						        </div>
						        <div class="row">
						        	<div class="col-lg-12">
						        		<p class="justified-text">
						        			<strong>Fabricante: </strong><%= product.manufacturer.name %> - <strong>Industria: </strong><%= product.manufacturer.country %>	
						        		</p>
						        		<% if product.details.url != "/details/original/missing.png" %>
							        		<p class="justified-text">
							        			<%= link_to "Descargar ficha técnica", product.details.url, target: "_blank", class: "btn btn-primary" %>
							        		</p>
							        	<% end %>
						        	</div>
						        </div>
						        <% if product.product_variants.count != 0 %>
							        <div class="row">
							        	<div class="col-lg-12">
							        		<h4>Variantes</h4>
							        		<div class="table-responsive">
							        			<table class="table table-striped table-hover">
							        				<thead>
							        					<th>Descripción</th>
							        					<th>Código</th>
							        					<th>Precio</th>
							        					<th>Fecha de reposición</th>							        					
							        				</thead>
							        				<tbody>
							        					<% product.product_variants.each do |variant| %>
							        						<tr>
							        							<td align="left">
							        								<%= variant.description %>
							        							</td>
							        							<td align="justify">
							        								<%= variant.reference_code %>
							        							</td>
							        							<td align="left">
							        								<% if variant.offer.nil? %>
							        									Bs. <%= variant.price %>
							        								<% else %>
							        									OFERTA: Bs. <%= variant.offer_price %>
							        								<% end %>
							        							</td>
							        							<% if variant.reposition %>
							        								<td align="left">
							        									<%= variant.reposition_date %>
							        								</td>
							        							<% else %>
							        								<td align="left">Disponible</td>
							        							<% end %>
							        						</tr>
							        					<% end %>
							        				</tbody>
							        			</table>
							        		</div>
							        	</div>
							        </div>
							    <% end %>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	<% end %>
</div><!--/recommended_items-->