<h1>Crear variante de <%= @product.name %> (<%= @product.reference_code %>)</h1>
<%= form_tag("/create_product_variant", method: "post") do %>
	
  <%= hidden_field_tag(:product_id, @product.id) %>

  <div class="form-group">
  	<%= label_tag(:price, "Precio") %>
  	<%= text_field_tag :price, nil, class: "form-control" %>	
  </div>

  <div class="form-group">
    <%= label_tag(:description, "Descripci贸n") %>
    <%= text_field_tag :description, nil, class: "form-control" %>  
  </div>

  <div class="form-group">
    <%= label_tag(:reference_code, "C贸digo de referencia") %>
    <%= text_field_tag :reference_code, nil, class: "form-control" %>  
  </div>

  <div class="form-group">
    <%= label_tag(:reposition, "Reposici贸n") %>
    <%= check_box_tag :reposition, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag(:reposition_date, "Reposici贸n") %>
    <%= date_field_tag :reposition_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag(:offer, "En Oferta?") %>
    <%= check_box_tag :offer, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag(:offer_price, "Precio de oferta") %>
    <%= number_field_tag :offer_price, nil, class: "form-control" %>  
  </div>
  

  <%= submit_tag "Aceptar", class: "btn btn-success" %>
  <%= link_to "Cancelar", "/products/" + @product.id.to_s + "/product_variants", class: "btn btn-danger" %>
<% end %>