<p id="notice"><%= notice %></p>

<h1>Variantes del producto <%= @product.name %>(<%= @product.reference_code %>)</h1>

<table>
  <thead>
    <tr>
      <th>Tamaño</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.product_variants.each do |variant| %>
      <tr>
        <td><%= variant.variant_size %></td>
        <td>Bs. <%= variant.price %></td>
        <td><%= link_to 'Editar', '/products/' + @product.id.to_s + '/product_variants/' + variant.id.to_s + '/edit' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva variante', '/products/' + @product.id.to_s + '/product_variants/new' %>
